$inter-light: "interlight_beta", "AvenirLTStd-Book", sans-serif;
$inter-regular: "interregular", "AvenirLTStd-Book", sans-serif;
$inter-bold: "interbold", "AvenirLTStd-Book", sans-serif;
$inter-semi-bold: "intersemi_bold", "AvenirLTStd-Book", sans-serif;

$blue: #4E78F6;
$dark-blue: #001966;
$blue-light: #89BFFF;
$grey-blue: #61728C;
$blue-mid-2: #EDF7FF;
$yellow: #FFE01A;


$grey: #A3ABB5;
$dark-grey: #50525C;
$mid-grey: #A0AAB8;
$light-grey: #BFC6CF;
$light-grey-2: #F0F0F0;