$inter-light: "interlight_beta", "AvenirLTStd-Book", sans-serif;
$inter-regular: "interregular", "AvenirLTStd-Book", sans-serif;
$inter-bold: "interbold", "AvenirLTStd-Book", sans-serif;
$inter-semi-bold: "intersemi_bold", "AvenirLTStd-Book", sans-serif;


$dark-blue: #001966;
$blue-light: #89BFFF;
$grey-blue: #61728C;