<main class="container bg-img">
    <section class="form">
        <div class="form-container">

            <div class="form-header">
                <img src="{{ site.baseurl }}/assets/images/boat-logo.png" alt="" class="form-header__img">
                <h1 class="form-header__header">Welcome to <br>
                    <span class="u-blue">Harbor!</span>
                </h1>
            </div>

<!--            <label for="phone" class="form__label mg-btm-sm">Mobile Phone-->
<!--                <input type="number" class="form__input" name="phone">-->
<!--            </label>-->

<!--            <label for="pwd" class="form__label">Password-->
<!--                <input type="password" class="form__input" name="pwd">-->
<!--            </label>-->

            <div class="form-group">
                <input name="phone" type="text" class="form__input">
                <label name="phone" class="form__label">Mobile Phone</label>
            </div>

            <div class="form-group">
                <input name="pwd" type="text" class="form__input">
                <label for="pwd" class="form__label">Password</label>
            </div>


            <p class="form__sign-up">Forgot your password?</p>

            <div class="flex">
                <a href="{{ site.baseurl }}/verify_code" class="btn">Log In</a>
                <a href="{{ site.baseurl }}/verify_code" class="btn">Sign Up</a>
            </div>

            <p class="form__legal">By creating your account, you are indicating that you read the <br>
                <span class="u-blue">Privacy Policy</span> and agree to the <span class="u-blue">Terms of Service</span></p>
        </div>

    </section>
</main>

