<main class="container">
    <section class="image">
        <h1 class="image__header"></h1>
    </section>

    <section class="form">
        <div class="form-container">
            <h1 class="form__logo">Harbor</h1>
            <h2 class="form__header">Welcome Back</h2>

            <label for="username" class="form__label mg-btm-sm">
                <input type="text" class="form__input" name="username" placeholder="username">
            </label>
            <label for="pwd" class="form__label">
                <input type="password" class="form__input" name="pwd" placeholder="password">
            </label>

            <p class="form__sign-up">Forgot your password?</p>

            <a href="#" class="btn mg-btm-mid">Sign In</a>
        </div>

    </section>
</main>
