.btn {
  font-family: $inter-regular;
  font-size: 1.3rem;
  text-align: center;
  background: $blue-light;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  width: 33.333%;
  align-self: flex-end;
}